<form class="pure-form">
    <label for="{{id 'option-one'}}" class="pure-checkbox">
        <input id="{{id 'option-one'}}" type="checkbox" value="">
        这是一个选项。
    </label>

    <label for="{{id 'option-two'}}" class="pure-radio">
        <input id="{{id 'option-two'}}" type="radio" name="optionsRadios" value="option1" checked>
        这是一个单选按键，你可以选择它……
    </label>

    <label for="{{id 'option-three'}}" class="pure-radio">
        <input id="{{id 'option-three'}}" type="radio" name="optionsRadios" value="option2">
        ……或者选择这个
    </label>
</form>
