<form class="pure-form pure-form-stacked">
    <fieldset>
        <legend>叠放式表单</legend>

        <label for="{{id 'email'}}">邮箱</label>
        <input id="{{id 'email'}}" type="email" placeholder="请输入邮箱">

        <label for="{{id 'password'}}">密码</label>
        <input id="{{id 'password'}}" type="password" placeholder="请输入密码">

        <label for="{{id 'state'}}">州</label>
        <select id="{{id 'state'}}">
            <option>AL</option>
            <option>CA</option>
            <option>IL</option>
        </select>

        <label for="{{id 'remember'}}" class="pure-checkbox">
            <input id="{{id 'remember'}}" type="checkbox"> 记住我
        </label>

        <button type="submit" class="pure-button pure-button-primary">登录</button>
    </fieldset>
</form>
